html,body, .container-fluid{
	height: 100%;
	width: 100%;
	padding: 0px !important;
	font: serif;
}

#postPic{
	height: 25%;
	width: 25%;
	border-radius: 10px;
}

#userData{
	height: 100%;
	float:right;
	width: 50%;
	text-align: right;
}

#userBanner{
	height: 20%;
	width: 100%;
	background-color: #11275e;
	color: white;
	padding-left: 260px !important;
}

#userPosts{
	padding-left: 260px !important;
}

#userProfilePic{
	height: 100px;
	width: 100px;
	border-radius: 100px;
	display: inline;
	margin-right: 5%;
	transform: translateY(20%);
}

#usernamediv{
	margin-right: 30px;
	display: inline;
	height: 50%;
	width: 50%;
	float: left;
	transform: translateY(50%);
}

#username{
	display: inline;
	transform: translateY(50%);
}

#bannerProfPic{
	display: inline;
	width: 50%;
	height: 100%;
}

#friendsPosts{
	height: 100%;
	width: 250px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #fffafa;
	overflow-x: hidden;
	padding-top: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

h5{
	display: inline;
	margin-left: 10px;
}

#friendProfilePic{
	display: inline;
	height: 35px;
	width: 35px;
	border-radius: 25px;
}

#about{
	margin-top: 15px;
	border-bottom: solid grey 1px;
	padding-bottom: 15px;
	padding-left: 10px;
}

#skitterLogo{
	height: 25%;
	width: 25%;
	display: inline;
}

#title{
	display: inline;
	margin-left: 5px;
}

#friendPost{
	margin-top: 15px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border: solid 1px grey;
	font-size: .9em;
}

#seeMoreButton{
	width: 80%;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#viewMoreButton{
	background-color: #11275e;
	border: 1px solid white;
	color:white;
	transition: 0.5s;
}

#viewMoreButton:hover{
	background-color: white;
	border: 1px solid #11275e;
	color: black;
	transition: 0.5s;
}

#banner{
	padding-bottom: 3px;
	padding-top: 2px;
	width: 100%;
	border-bottom: solid 1px grey;
}

#post{
	height: 300px;
	width: 75%;
	border: solid 1px grey;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-top: 45px;
	border-radius: 2px;
	text-align: center;
}

#post p{
	font-size: 1.2em;
}

#credits{
	margin-top: 20px;
	text-align: center;
	padding-bottom: 5px;
	width: 60%;
	border-top: solid 1px grey;
	margin-left: auto;
	margin-right: auto;
}

#credits a{
	color: black;
	text-decoration: none;
}

#dataImg{
	height: 15px;
	width: 15px;
	display: inline;
}

#friendPost p{
	display: inline;
}

#likes{
	display: inline;
}

#comments{
	display: inline;
}

#friendPost button{
	background-color: white;
	border: none;
	outline: none;
}

#postPic{
	display: inline;
	height: 100px;
	width: 100px;
	border-radius: 50%;
}

#banner p{
	display: inline;
}

#postContent{
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}

#personalBanner{
	padding-bottom: 10px;
	padding-top: 5px;
	width: 80%;
	border-bottom: solid 1px grey;
	margin-left: auto;
	margin-right: auto;
}

#personalBanner p{
	display: inline;
	font-size: 1.4em;
	margin-left: 11vw;
}

#bannerData{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

#personalPostlikes{
	display: inline;
}

#personalPostComment{
	display: inline;
}

#personalPostData{
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#personalPostData p{
	display: inline;
}

#personalPostData img{
	width: 30px;
	height: 30px;
}

#personalPostData button{
	background-color: white;
	outline: none;
	border: none;
	width: 20%;
}

#blur{
	height: 100%;
	width: 100%;
	position: absolute;
}

#inputArea{
	height: 50%;
	width: 55%;
	margin-left: 30%;
	transform: translateY(50%);
	background-color: rgba(50, 51, 49, 0.95);
	border-radius: 3px;
	border: 3px solid #ff4757;
	z-index: 5;
	color: white;
	text-align: center;
}

#inputArea input{
	display: block;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	text-align: center;
}

form p{
	display: inline;
}

#skitContent{
	text: grey;
}

#addPost{
	margin-top: 20px;
	text-align: center;
	height: auto !important;
}

#inputArea button{
	margin-top: 20px;
	background-color: #ff4757;
	border: 1px solid white;
	color:white;
	transition: 0.5s;
	outline: none;
	margin: 5px;
}

#inputArea button:hover{
	background-color: white;
	border: 1px solid #ff4757;
	color: black;
	transition: 0.5s;
}

#inputArea h2{
	padding-top: 10px;
}

#skitterData{
	display: inline;
}

#skitterData button{
	margin-top: 55px;
	margin-left: 25px;
	display: inline;
	background-color: #ff4757;
	color: white;
	border: 1px solid white;
	transition: 0.5s;
}

#skitterData button:hover{
	background-color: white;
	border: 1px solid #ff4757;
	color: black;
	transition: 0.5s;
}